<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include('../fragmente/head'); %>

        <title>HaiLaConcert.ro | Bilete concerte</title>
    </head>
    <body>
        <header>
            <%- include('../fragmente/navbar'); %>
        </header>
        <main>
            <img src="<%- img %>" style="max-width: 48px;">
            <h1>Eroare</h1>
            <h5><%- titlu %></h5>
            <p><%- text %></p>
        </main>
        <footer>
            <%- include('../fragmente/footer'); %>
        </footer>
    </body>
</html>