<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind - înregistrare utilizatori.">
        <meta name="keywords" content="cofetarie, Dulcelind, inregistrare, utilizatori">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Inregistrare | HaiLaConcert</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/inregistrare.js></script>
    </head>
    <body>
    <%- include("../fragmente/navbar") %>

    <main>
    <div class="afisaj">
        <h1>Inregistrare utilizator</h1>
        <% if(!locals.raspuns) { %>    

			<%-include("../fragmente/formular", {action: "/inregistrare"}) %>
        <% } %>
        
	<% if(locals.raspuns) { %>
	<%- locals.raspuns+"<br/>"%>
	<% } %>
	<% if(locals.err) { %>
	<%- locals.err %>
	<% } %>

        <p id="eroare1" style="display: none;">Toate campurile sunt obligatorii!</p>
        <p id="eroare2" style="display: none;">Parolele nu se potrivesc!</p>
        <p id="eroare3" style="display: none;">Parola trebuie sa aiba minim 6 caractere!</p>
        <p id="eroare4" style="display: none;">Data nasterii invalida!</p>
    </div>

    <script>
        window.onload = function () {
            document.getElementById('inp-data').setAttribute('max', new Date().toISOString().split("T")[0]);
        }

        document.getElementById('eroare1').style.display = 'none';
        document.getElementById('eroare2').style.display = 'none';
        document.getElementById('eroare3').style.display = 'none';
        document.getElementById('eroare4').style.display = 'none';
        document.getElementById('form_inreg').addEventListener('submit', event => {
            const nume = document.getElementById('inp-nume').value;
            const username = document.getElementById('inp-username').value;
            const prenume = document.getElementById('inp-prenume').value;
            const telefon = document.getElementById('inp-telefon').value;
            const data_nasterii = document.getElementById('inp-data').value;
            const parola = document.getElementById('parl').value;
            const rparola = document.getElementById('rparl').value;
            const email = document.getElementById('inp-email').value;
            console.log(nume);
            
            let c = true;
            if (nume == null || username == null || prenume == null || telefon == null
            || data_nasterii == null || parola == null || rparola == null || email == null) {
                document.getElementById('eroare1').style.display = 'block';
                c = false;
            }

            if (parola != rparola) {
                document.getElementById('eroare2').style.display = 'block';
                c = false;
            }
            
            if (parola.length < 6)
            {
                document.getElementById('eroare3').style.display = 'block';
                c = false;
            }

            if (new Date(data_nasterii) > new Date())
            {
                document.getElementById('eroare4').style.display = 'block';
                c = false;
            }

            if (!c)
                event.preventDefault();
        });
    </script>
</main>

<footer>
    <%- include("../fragmente/footer") %>
</footer>

</body>
</html>